body {
    background-color: lightgoldenrodyellow;
    font-family: sans-serif;
    text-align: center;
}

main {
    justify-content: space-around;
}

form {
    background-color: #eeeeee;
    padding: 1rem;
    border: 1px solid #e3e3e3;
    text-align: center;
}

label {
    display: block;
}

/*dl {
    padding: 1rem;
}

dl > li {
    list-style: none;
}

dl:nth-of-type(even) {
    background-color: whitesmoke;
}*/

.swatch {
    margin-left: 1.3em; 
    border: 1px solid #000;
    cursor: pointer;
}

ul {
    text-align: left;
    padding: 0.5em;
    list-style-position: inside;
    background-color: #F0F0F0;
    border: 1px solid #000;
}