body {
    background-color: lightgoldenrodyellow;
    font-family: sans-serif;
    text-align: center;
}

form {
    display: table;
    border-spacing: 0.3em;
    margin: auto;
}
form p {
    display: table-row;
}
form label {
    text-align: left;
    display: table-cell;
}
form input {
    text-align: left;
    display: table-cell;
}
form button {
    
}

.swatch {
    margin-left: 1.3em; 
    border: 1px solid #000;
    cursor: pointer;
}

ul {
    text-align: left;
    padding: 0.5em;
    list-style-position: inside;
    background-color: #F0F0F0;
    border: 1px solid #000;
}