body {
    font-family: sans-serif;
    text-align: center;
}

form {
    display: table;
    border-spacing: 0.3em;
    margin: auto;
}
form p {
    display: table-row;
}
form label {
    text-align: left;
    display: table-cell;
}
form input {
    text-align: left;
    display: table-cell;
}
form button {
    margin: auto;
}

.swatch {
    cursor: pointer;
}

ul {
    text-align: left;
    padding: 0.5em;
    list-style-position: inside;
    border: 1px solid #000;
}